.scoreChartContainer {
    height: 263px;
    width: 258px;
    background-color: #FBFBFB;
    position: relative;
    border-radius: 0.375rem;
}

.scoreChartTitle {
    font-size: 0.938rem;
    padding-top: 24px;
    padding-left: 30px;
    font-weight: 500;
}

.scoreChartPie_container {
    position: absolute;
    left: 40px;
    top: 40px;
}

.scoreValue {
    position: absolute;
    top: 56px;
    left: 56px;
    z-index: 10;
    background-color: white;
    border-radius: 50%;
    width: 147px;
    height: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scorePercentage {
    font-size: 26px;
    color: black;
    font-weight: 600;

}

.scoreObjectifText {
    width: 60px;
    font-size: 16px;
    color: #74798C;
    font-weight: 500;
}

